.game {
  display: flex;
  flex-direction: row;
}

.game-consignes {
  margin: 20px;
}

.status {
  margin-bottom: 10px;
}

.lignes-verticales:after {
  clear: both;
  content: "";
  display: table;
}

.carre {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.carre {
  background: #f5f5f5;
}

.ligne-verticale:nth-child(odd) .carre:nth-child(even),
.ligne-verticale:nth-child(even) .carre:nth-child(odd) {
  background: #e3e3e3;
}
@media screen {
}
