.surprise {
  background-image: url(frontend/src/assets/imageSurprise.jpg);
  background-size: 100%;
  background-attachment: fixed;
  margin: 0;
}

.containerSurprise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.imgSurprise {
  width: 60%;
}
