/* {
  background-image: url(frontend/src/assets/imageSurprise.jpg);
  background-size: 100%;
  background-attachment: fixed;
  margin: 0;
  padding: O;
}  */

.containerSurprise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgSurprise {
  width: 800px;
}
