ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style-type: none;
    color: white;
    margin-right: 90px;
    font-size: 30px;
    font-weight: bold;
}

a{
    text-decoration:none;
}